div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 10px;
  margin: auto;
}

p#foot {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  
}

.jumbotron {
  text-align: center;
  padding: 50px;
  background: rgb(10, 7, 7);
  color: white;
  font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
font-size: 2.625rem;
font-weight: 500;
}

li#engineer {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://icons8.com/icon/aO8gfw747wny/engineer-skin-type-3);
}


li#machine {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://icons8.com/icon/26332/robot);
}

body {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.527)), url("https://www.shutterstock.com/image-photo/lots-colorful-braided-strings-view-260nw-1600888666.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
}

#alink{
  font-family: 'Lobster', cursive;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  
}