div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 10px;
  margin: auto;
}

p#foot {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  
}

.jumbotron {
  text-align: center;
  padding: 50px;
  background: #333;
  color: white;
}

li#engineer {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://icons8.com/icon/aO8gfw747wny/engineer-skin-type-3);
}


li#machine {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://icons8.com/icon/26332/robot);
}

body {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.527)), url("https://hips.hearstapps.com/hmg-prod/images/screen-shot-2020-01-23-at-10-08-34-am-1579792056.png?crop=0.8984126984126984xw:1xh;center,top&resize=1200:*");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
}